/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Staatliches */
:root {
    --lightblue: #f6f9fc;
    --red: #d64041;
    --blue: #AC3931;
    --green:#4a6364;
  }
  
  a,
  a:hover {
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
  }

  .text-white{
    font-family: "Staatliches", sans-serif;
    text-align: center;

  }
  h1.text-white{
    font-size: 90px;
  }
  
  .bg-lightblue {
    background: var(--lightblue);
  }
  
  .bg-red {
    background: var(--red);
  }
  
  .text-red {
    color: var(--red);
    font-family: "Staatliches", sans-serif;
    font-size:3em;
  }
  
  .container-fluid-max {
    max-width: 1440px;
  }
  
  .cover {
    background: no-repeat center/cover;
  }
  
  .p-15 {
    padding: 15px;
  }

  .logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height:15em;
  }

  .icons{
    color:#5BBA6F;
  }

  .contactinfo{
    color:#E4C3AD;
  }

  #overlay{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/oriental-tiles.png");
    opacity:7%
  }

  #subheader{
    margin-top:100px;
    font-size: 3em ;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #subsubheader{
    font-size:4em !important;
    text-align: center !important; 
  }
  /* SCROLL ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .scroll .page-header {
    background-color:#4a6364 !important;
  }
  
  .scroll .hero {
    transform: scale(0.98);
  }
  
  /* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-header {
    transition: background 0.5s ease-in-out;
  }
  
  .page-header .navbar {
    padding: 1rem 0;
  }
  
  .page-header .navbar-toggler {
    /* the variable is inherited from BS4 built-in variables */
    border-color: var(--white); 
  }
  
  /* BANNER SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
  
  .hero .container-fluid {
    z-index: 10;
  }
  
  /* POPULAR DESTINATIONS SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .popular-destinations figure {
    margin-bottom: 30px;
  }
  
  .popular-destinations figcaption {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .popular-destinations img {
    filter: grayscale(100%) blur(3px);
    transition: transform 0.5s, filter 0.75s;
  }
  
  .popular-destinations a:hover img {
    transform: scale(1.25);
    filter: none;
  }
  
  /* PAGE FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer .footer-links {
    text-align: right;
  }
  
  /* MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* MEDIUM SCREENS */
  @media screen and (max-width: 991px) {
    .page-header {
      background: var(--red);
    }
  }
  
  /* SMALL SCREENS */
  @media screen and (max-width: 767px) {
    .page-footer .footer-child {
      text-align: center;
    }
  }
#header{
    color:#4a6364 !important;
  }

